<div class="jumbotron">

	<center>
		<h1>Welcome to Julie's Jukebox Joint</h1>

		<img src="http://68.media.tumblr.com/57846d83077dad94b414c82fc41d251d/tumblr_mobyj88J8h1qih4j7o1_1280.jpg">
		<br>

		<%= link_to "Check out our Pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>